<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="httpLauncher" class="com.bullet.lab.gatherer.connector.base.HttpLauncher" init-method="init">
        <property name="deliver" ref="httpDeliver"/>
        <property name="port" value="${medical.http.port}"/>
    </bean>

    <bean id="websocketLauncher" class="com.bullet.lab.gatherer.connector.base.WsLauncher" init-method="init">
        <property name="deliver" ref="websocketDeliver"/>
        <property name="port" value="${medical.ws.port}"/>
    </bean>

    <bean id="httpDeliver" class="com.bullet.lab.gatherer.connector.deliver.HttpDeliver"/>
    <bean id="websocketDeliver" class="com.bullet.lab.gatherer.connector.deliver.WsDeliver"/>

</beans>